
h2{
    text-align: center;
    margin-top: 1rem;
    justify-content: center;
}

h3{ font-size: 2.2em;
    text-align: center;
    -webkit-text-stroke: 1.5px rgb(10, 10, 10);
    font-weight: 600;
    color: white;
}



.divContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border: 2pt solid rgb(50, 49, 49);
    border-radius: 1rem;
    margin: 0.5rem;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(5, 5, 5) 0%, rgb(43, 1, 36) 25%, rgb(5, 5, 5) 50%, rgb(43, 1, 36) 75%, rgb(0, 0, 0) 100%);
}


/* Index titulo */

.titleIndex{
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 2rem;
    color: rgb(225, 14, 252);
    -webkit-text-stroke: 1px  rgb(255, 255, 255);
}
