.itemDetail{
background-color: rgb(255, 255, 255);
text-align: center;
color: black;
margin:2rem;
border-radius: 1rem;
}

.figureText{
justify-content: center;
color:rgb(255, 255, 255);
font-size: 1.4rem;
-webkit-text-stroke: 1px rgb(10, 10, 10);
}

.figureImage {
    width: 500px;
    margin: 0.5em;
    border: 1em double rgba(4, 134, 255, 0.333);
    border-radius: 1rem;
    margin-left: 10%;
}



h1{
font-size: 3rem;
-webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.48);
color:rgba(0, 0, 0, 0.48)
}

.precio{
    color: white;
    font-size: 3rem;
    -webkit-text-stroke: 1.8px rgb(10, 10, 10);
    font-weight: bolder;
}


.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    /* padding-left: calc(var(--bs-gutter-x) * .5); */
    margin-top: var(--bs-gutter-y);
}

.iconos{
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content:left;
    font-size: 2rem;
    
}

.logo{

    margin-right: 2rem;
}

.Row{
    color: white;
    -webkit-text-stroke: 1px rgb(3, 3, 3);
}

.button{
    border: 1px solid black;
    border-radius: 1rem;
    width: 120%;
    background-color: rgb(42, 40, 40);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.button:hover{
    font-size: 1.8rem;
    color: red;
}