
.itemCountStyle{
    color: rgb(255, 255, 255); 
    font-size: 0.9rem;
}

.buttonGroup{
   display: flex;
   justify-content: center;
   height: 2rem;
   
}

.buttonGroup #button1{
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    background-color: rgb(5, 255, 80);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px outset black;
    color: black;
}

.buttonGroup #button2{
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color:rgb(5, 255, 80);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px outset black;
    color: black;
}

#button3{
    width: 100%;
    border-radius: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 2rem;
    border: 0.1rem solid black;
    color: black;
    box-shadow: 5px 10px 0px 0px rgba(0, 0, 0, 0.37);
}

#button3:hover{
    font-size: 2.5rem;
    color:aliceblue
}


#buttonCounter{
    border: 1px solid black;
    color:black;
    padding-left: 2rem;
    padding-right: 2rem;
}


div p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}


